:root {
  --box-shadow-border: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05);
  --box-shadow-common: 0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
  --box-shadow: var(--box-shadow-border) var(--box-shadow-common);
}

.Wrapper {
  transform-origin: 0 0;
  touch-action: manipulation;

  &.dragOverlay {
    scale: 1.05;
    z-index: 999;
  }
}

.Item {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border: solid 1px black;
  transform-origin: 50% 50%;

  &.dragging:not(.dragOverlay) {
    background-color: yellow;
    opacity: 0.5;
  }

  &.dragOverlay {
    background-color: skyblue;
    color: black;
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}